/* ==========================================
   TABLETS
========================================== */

@media(max-width:900px){

.hero h1{

font-size:4rem;

}

.navbar{

padding:18px 6%;

}

.chapter-content{

width:92%;

padding:35px 20px;

}

}

/* ==========================================
   MOBILE
========================================== */

@media(max-width:768px){

.menu-toggle{

display:block;

}

.navbar ul{

position:absolute;

top:70px;

right:0;

width:240px;

background:#08131d;

flex-direction:column;

padding:25px;

display:none;

}

.navbar{

padding:15px 20px;

}

.logo{

font-size:2rem;

max-width:220px;

line-height:1.2;

}

.navbar ul.show{

display:flex;

}

.hero h1{

font-size:3rem;

}

.subtitle{

font-size:1.1rem;

}

.chapter{

padding:80px 0;

}

.chapter-content{
   
   width:94%;

   padding:30px 18px;

}

.chapter h2{

font-size:2.3rem;

}

.chapter h3{

    font-size:1.4rem;

}

.chapter p{

font-size:1rem;

line-height:1.9;

margin-bottom:20px;

}

#beginBtn{

padding:15px 40px;

}

.letter-card {

   width:95%;

   padding: 35px 20px;
   
}

}